<div class="container">
  <form class="books-form" action="/books/<%= @book.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <h1>Edit Your Book Here: </h1>
    <h3>Note: All fields are optional <em>except</em> "Title".</h3>
    <!-- Title -->
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" value="<%= @book.title%>">
    </div>

    <!-- Author  -->
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" name="author" class="form-control"  value="<%= @book.author%>">
    </div>

    <!-- Length -->
    <div class="form-group">
      <label for="length">Length</label>
      <input type="number" name="length" class="form-control" value="<%= @book.length%>">
      <span class="help-block">Please enter the number of pages in your book.</span>
    </div>

    <!-- Format -->
    <label for="format">Format</label>
    <div class="form-group">
      <input type="radio" name="format" class="format-option" value="Paperback/Hardback" <%='checked' if @book.format == "Paperback/Hardback"%> >Paperback/Hardback</input>
      <input type="radio" name="format" class="format-option" value="eBook" <%='checked' if @book.format == "eBook"%> >eBook</input>
      <input type="radio" name="format" class="format-option" value="Audiobook" <%='checked' if @book.format == "Audiobook"%> >AudioBook</input>
      <span class="help-block">Please choose the format in which you read your book.</span>
    </div>

    <!-- Favorite  -->
    <div class="form-group">
      <label for="favorite">Favorite?</label>
      <input type="checkbox" name="favorite" class="" value="true" <%='checked' if @book.favorite %>>
      <span class="help-block">Check this box if this book is one of your favorites!</span>
    </div>

    <button type="submit" class="btn btn-primary" id="btn-edit">Edit Book</button>
    <a href="/books" class="btn btn-danger">Cancel</a>

  </form>
</div>
